<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mito_payment>
                <model>MitoPaymentFacade</model>
                <active>1</active>
                <title>MitoPayment</title>
                <payment_action>order</payment_action>
                <specificcountry></specificcountry>
                <sort_order>100</sort_order>
                <can_use_checkout>1</can_use_checkout>
            </mito_payment>
        </payment>
    </default>
</config>